@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');



* {
    box-sizing: border-box;
  }

#table1{
color: rgb(21, 0, 139);
font-size: small;
font-family: fantasy;
border-color:lime;
border-collapse: collapse;
  table-layout: fixed;
  width: 84%;
}



body {
    font-family: Arial;
    padding: 10px;
    background: whitesmoke;
  }
/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: gray;
}

.header h1 {
  font-size: 50px;
  color: white;
  font-family: 'Yeon Sung', cursive;
}
.header p{
    color: white;
  font-weight: bold;
    font-size: x-large;
    font-family: 'Diplomata SC', cursive;
}

section{
    position: relative;
}


input{
    color: red;
    font-size: small;
    border-radius: 151px;
}

form{
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
}

   * {font-family: Helvetica Neue, Arial, sans-serif; }  /*from freshdesign web  */

body { background-image: linear-gradient(#aaa 25%, #000);}

h1, table { text-align: center; }

table {border-collapse: collapse; margin: 0 auto 5rem;}

th, td { padding: 1.5rem; font-size: 1.3rem; }

tr {background: hsl(50, 50%, 80%); }

tr, td { transition: .4s ease-in; } 

tr:first-child {background: hsla(12, 100%, 40%, 0.5); }

tr:nth-child(even) { background: hsla(50, 50%, 80%, 0.7); }

td:empty {background: hsla(50, 25%, 60%, 0.7); }

tr:hover:not(#firstrow), tr:hover td:empty {background: #ff0; pointer-events: visible;}
tr:hover:not(#firstrow) { transform: scale(1.2); font-weight: 1; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);}





/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }


  .card p {
    font-family: 'Merienda', cursive;  }

    
